* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
 body {
    margin-left: 55px;
  }
  /*seejn codes*/
  .sidebar {
    height: 100vh;
    width: 55px;
    background: #0D1840;
    padding: 20px 0 5px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .sidebar__container1 {
    height: 38%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
/*bishal codes*/
.accountbox{
  position: absolute;
  top: 10px;
  right: 10px;
}

.messegebox {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.messegebox #close--msg {
  display: none;
}

.messegepopup {
  display: none;
  position: absolute;
  height: 400px;
  width: 250px;
  bottom: 45px;
  right: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 12, 34, 0.98)), color-stop(55.27%, rgba(26, 43, 102, 0.438352)), to(rgba(72, 106, 227, 0)));
  background: linear-gradient(180deg, rgba(6, 12, 34, 0.98) 0%, rgba(26, 43, 102, 0.438352) 55.27%, rgba(72, 106, 227, 0) 100%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.messegepopup p {
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}